.services_section {
  background-color: var(--color-grey-light);
  padding: 10rem 2rem;
}

.services_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}

.service_card {
  width: 30rem;
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.5s;
}

.service_card:hover {
  background-color: var(--color-primary);
}

.service_card-img-wrapper {
  --service-image-wrapper-size: 10rem;
  width: var(--service-image-wrapper-size);
  height: var(--service-image-wrapper-size);
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-lighter);
  margin: 0 auto;
  clip-path: circle(50% at 50% 50%);
}

.service_image {
  width: 6rem;
}

.service_title {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 1rem 0;
  transition: color 0.5s;
}

.service_card:hover .service-title {
  color: var(--color-white);
}

.service_description {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2;
  color: var(--color-grey);
  transition: color 0.5s;
}

.service_card:hover .service-description {
  color: var(--color-white);
}
